In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

##### Planilha só abre se estiver fechada no excel (neste caso de read_excel direto do xlsx)

In [37]:
data = pd.read_excel(io = 'EDA_v1.xlsx', sheet_name = 'data')

## Contabilizar quantos valores faltantes há em cada coluna

In [45]:
faltantes = pd.DataFrame(data.isna().sum(axis = 0), columns = ['faltantes'])

In [52]:
#Permitir ver todas as linhas
pd.options.display.max_rows = None

In [51]:
faltantes.sort_values(by = 'faltantes', ascending = False)

                   faltantes
BPI_7e_v1                236
Se_SIM_tempo             234
BPI_7d_v1                231
BPI_2j_v1                228
BPI_7c_v1                223
...                      ...
BPI_4_v1                   4
BPI_3_v1                   4
Estado_nascimento          2
Sexo                       0
ID                         0

[121 rows x 1 columns]

# Teste de correlaçaõ das dores
### Uma questão é: Da maneira que os dados estão estruturados, esta correlação faz sentido? 

- Cada coluna contém uma pontuação de 0 a 10 do quanto a pessoa sente dor nas costas ou nas pernas. O que seria o VAS? 
- Correlação pela pontuação, acho que faz sentido sim

In [8]:
data = pd.read_excel(io = 'EDA_v2.xlsx', sheet_name = 'TabelaDores')

In [9]:
data.drop('ID', axis = 1).corr()

,DOR A,Dor_costas,Dor_costas_VAS,Dor_pernas,Dor_pernas_VAS
DOR A,1.000000,0.250366,0.305192,0.398881,0.430418
Dor_costas,0.250366,1.000000,0.763869,0.363353,0.359605
Dor_costas_VAS,0.305192,0.763869,1.000000,0.438467,0.504636
Dor_pernas,0.398881,0.363353,0.438467,1.000000,0.902720
Dor_pernas_VAS,0.430418,0.359605,0.504636,0.902720,1.000000