In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [6]:
data = pd.read_csv('data/fewmissing.csv', sep = ';')

In [9]:
data.sample(5)

,Fuma,Aposentado,Desempregado,Licenca_Medica,Aposentado_Invalidez,Alg.e9.sicos,OutraDoenca,Dor_costas,Dor_pers,Retorr_trabalho,...,SF12_M1_3_v1,SF12_M1_4_v1,SF12_M1_5_v1,SF12_M1_6_v1,SF12_M1_7_v1,SF12_M1_8_v1,SF12_M1_9_v1,SF12_M1_10_v1,SF12_M1_11_v1,SF12_M1_12_v1
38,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,2,3,3,4,4,3,3,3,3,3
56,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,2,3,3,4,4,3,3,3,3,3
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,5,5,5,5,1,5,5,5,5
41,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,3,5,5,5,5,1,5,5,5,5
109,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3,5,5,5,5,1,5,5,5,5

### Imputar mediana para valores faltantes

In [37]:
from sklearn.impute import SimpleImputer

In [38]:
imp = SimpleImputer(missing_values = np.nan, strategy = 'median')

In [39]:
imp.fit(data)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='median', verbose=0)

In [40]:
data_nonan = pd.DataFrame(imp.transform(data), columns = list(data))